* {
    margin: 0%;
    padding: 0%;
}

nav {
    border: 1px Solid;
    background-color: rgb(49, 48, 48);
    height: 50px;
}

h1 {
    margin-left: 30px;
    padding-top: 10px;
}

.liens {
    margin-left: 250px;
    margin-top: -23px;
}

.lien,
a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
}

nav a:hover {
    background: black;
    padding: 15px 20px;
}

h2 {
    text-align: center;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}

.video {
    width: 360px;
}

.video1 {
    border: 1px solid orangered;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 360px;
    margin: 10px;
    padding-bottom: 10px;
}

.video2 {
    border: 1px solid rgb(243, 118, 1);
    padding-top: 10px;
    width: 360px;
    margin: 10px;
    padding-bottom: 10px;
}

.video3 {
    border: 1px solid orangered;
    padding-top: 10px;
    width: 360px;
    margin: 10px;
    padding-bottom: 10px;
}

.videos {
    display: inline-flex;
    margin-left: 110px;
    margin-top: 50px;
}

label {
    padding: 20px;
    color: rgb(0, 60, 255)
}